.task-container{
    display: flex;
    flex-direction: column;
}

.task-item{
    cursor: pointer;
    margin-right:1%;
    margin-top:1%;
    background-color: white;
    height:200px;
    width:300px;
    border: none;
    font-weight:bold;
    font-size: large;
}

.add-task{
    display: flex;
    justify-content:center;
    background-color: #8c54fc;
    color: white;
    border: 2px solid #8c54fc;
    height:10%;
    width: 20%;
    font-size: large;
    font-weight: bold;
    font-family: tahoma;
     margin-top: 20px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
;
}
.task-items{
    margin-top:2%;
    margin-left:5%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
}

h1{
    margin-left:5%;
    text-align: left;
}
.task-container{
    padding:1%;
    margin-top:3%;
}

@media screen and (max-width:700px){
    .task-container{
        flex-direction: row; 
        justify-content: space-between;
    }
}
@media screen and (max-width:1200px){
    .task-items{
        width: 200px;
    }
}

@media screen and (max-width:700px) {
    .task-items{
        height:200px;
        width:300px;
        margin-top:3%;
    }
}